body {
 width: 100%;
 height: 100vh;
 padding: 0;
 margin: 0;
 background-color: #817ADE;
}

.sprite
{
	background: url(aegis.png);
	margin: 100px 50px;
	width: 161px;
	height: 160px;
	display: block;
	background-position: -20 -2386px;
	animation: un 1s steps(7) infinite;
}



@keyframes un
{
	100% { background-position-x: -1170px;}
}

@keyframes
{
	100% {background-position: }
}